.parent{
    margin: 0% 10% 0% 10%;
    background-image: url("https://b.zmtcdn.com/web_assets/81f3ff974d82520780078ba1cfbd453a1583259680.png");
    text-align: center;
    height:1000px;
    color: aliceblue;
}
span{
    margin-left: 1%;
}
.status{
    display: none;
}
.parent:hover > .status{
    display: initial;
}
.review{
    display: none;
}

 .status:hover > .review{
    display: initial;
}